package main

import (
	"github.com/gin-gonic/gin"
	"{{ .ModuleName }}/routes"
)

func main() {
	r := gin.Default()
	r.GET("/", func(c *gin.Context) {
		c.JSON(200, gin.H{
			"project_name": "{{ .ProjectName }}",
			"status":       "ok",
		})
	})

	routes.Routes(r)

	r.Run()
}
