# {{ .ProjectName }}

Project Name: {{ .ProjectName }}

Module URL: {{ .ModuleName }}

Framework: {{ .Framework }}

How to run?

1. Clone this repository with `git clone`

2. Run `go mod tidy`

3. Run `go run main.go`